/* PAGE STYLES */
body,
html {
  margin: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif, system-ui;
}

#page-container {
  display: grid;
  height: 100vh;
  grid-template-rows: 100px minmax(2.5fr, 600px) 2.5rem 2.5rem;
}
 
#page-container > * {
  border: 1px solid black;
}

/* HEADER STYLES */
#header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 20px;
position: relative;
background-color: #19747E;
}

#todays-date {
    font-size: 1.3rem;
    font-weight: 600;
    color: white;
}

#search {
    width: 30%;
    height: 1rem;
    border-radius: 50px;
    border: none;
    padding: 7px 20px;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    font-size: 1rem;
}

#unit {
    margin-right: 20px;
    padding: 3px;
    border-radius: 10px;
}

#loading::backdrop {
    background-color: rgba(0, 0, 0, 0.5);
}

/* MAIN CONTAINER STYLES */
#main-container {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  background-color: #e4f2ee;
}

#primary,
#secondary {
  height: 75%;
  border-radius: 10%;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  background-color: white;
}

#primary {
  width: 35%;
  display: grid;
  padding: 30px;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 2fr 1fr 1.5fr;
  gap: 10px;
  text-align: center;

  grid-template-areas:
    "city city city"
    "current-time . last-updated"
    "todays-low current-temp todays-high"
    "description description description"
    "feels-like . icon";
}

#primary > * {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 5px;
  font-weight: 600;
}

#primary > div > div {
    font-weight: 400;
}

#city-name {
  grid-area: city;
  font-size: 1.5rem;
  font-weight: 600;
}

#current-time {
  grid-area: current-time;
}

#last-updated {
  grid-area: last-updated;
}

#todays-low {
  grid-area: todays-low;
}

#current-temp {
  grid-area: current-temp;
}

#todays-high {
  grid-area: todays-high;
}

#description {
  grid-area: description;
  align-self: flex-start;
}

#feels-like {
  grid-area: feels-like;
}

#current-icon {
  grid-area: icon;
}

#secondary {
  width: 30%;
  padding: 30px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  gap: 5px;
}

#secondary > * {
  padding-left: 30px;
  display: flex;
  gap: 5px;
  font-weight: 600;
}

#secondary > div > div {
    font-weight: 400;
}

#hourly-collapse, #weekly-collapse {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.3rem;
    cursor: pointer;
}


#hourly {
    padding: 5px 15px;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: 1fr 1fr;
    gap: 5px;
    background-color: #A9D6E5;
}

#hourly.collapsed {
    display: none;
}

#hourly > div {
    border: 1px solid black;
    border-radius: 10px;
    padding: 5px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    background-color: white;
}

#hourly > div > div:first-child {
    font-size: 1rem;
    font-weight: 600;
}

#seven-days {
    display: flex;
    justify-content: space-evenly;
    padding: 10px;
    gap: 10px;
    background-color: #e4f2ee;
}

#seven-days.collapsed {
    display: none;
}

#seven-days > div {
    width: 15%;
    border: 1px solid black;
    border-radius: 10px;
    padding: 5px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    background-color: white;
}

#seven-days .temps {
    display: flex;
    justify-content: space-between;
    width: 80%;
}

#seven-days > div > div:first-child {
    font-size: 1rem;
    font-weight: 600; 
}